/** -- reset -- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------- */
/* Variáveis Globais (:root)  */
/* -------------------------- */
:root {
    /* -- background -- */
    --bg-ink-black: #091016;
    /* ink fundo */
    --bg-white: #f0f4ef;
    /* Branco */

    /* -- Paleta de Cores -- */
    --text-black: #000000;
    /* Texto principal */

    --text-white: #f0f4ef;
    /* Texto secundário */

    --text-metal: #343a40;
    /* Texto terciário */

    /* -- itens -- */
    --primary-pink: #fc6471;
    /* Rosa Bubblegum */

    --secondary-green: #98CE00;
    /*para testes*/

    --border-glow: rgba(255, 255, 255, 0.2);
    --hover-bg: #04080B;
    --border-translucent: rgba(255, 255, 255, 0.5);




    /*links hero__socials hover*/
    --events-social: transition: all ease 0.4s;
    --linkedin: #0A66C2;
    --instagram: linear-gradient(to top, #405de6, #833ab4, #c13584);
    --codepen: #0EBEFF;

    /* Configurações - Base */
    --font-main: Helvetica, Arial, sans-serif;
    --max-width: 1400px;
    --header-height: 90px;
}

/** -- body -- */
body {
    font-family: var(--font-main);
    background-color: var(--bg-white);
    color: var(--text-black);
    overflow-x: hidden;
}